name: Build Dylib
on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git ~/theos
          # Pasang ldid supaya error 'command not found' hilang
          brew install ldid
        
      - name: Build Package
        run: |
          export THEOS=~/theos
          # Kita paksa skip codesigning dylib buat sementara
          make package FINALPACKAGE=1 CODESIGN_IPA=0
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: AzuriteKey-Dylib
          path: "**/AzuriteKey.dylib"
