name: Build Dylib
on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git ~/theos
        
      - name: Build Package
        run: |
          export THEOS=~/theos
          # Tambah flag CODESIGN_IPA=0 di sini juga sebagai langkah keselamatan
          make package FINALPACKAGE=1 CODESIGN_IPA=0
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: AzuriteKey-Dylib
          path: ".theos/obj/*.dylib"
