name: Build Dylib
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Theos Environment
        uses: theos/setup-theos-action@v1

      - name: Build Dylib Package
        run: |
          make package FINALPACKAGE=1
        env:
          THEOS: ${{ github.workspace }}/theos

      - name: Upload Finished Dylib
        uses: actions/upload-artifact@v4
        with:
          name: AzuriteKey-Dylib
          path: obj/*.dylib
